.graphs {
  overflow: auto;
  height: 75vh;
  width: 50vw;
  background-color: #d7d7d8;
  border-radius: 0.3rem;
}
.headerGraphs {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.chart {
  background-color: whitesmoke;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.graphsIED {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 45%;
  gap: 2rem;
}
