* {
  margin: 0;
}

@font-face {
  font-family: Sansation;
  src: url("./assets/font/Sansation_Regular.ttf");
}

body {
  font-family: Sansation;
  background-color: #f5f5f5;
}

.container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

header {
  display: flex;
  border-bottom: 1px solid #919191;
  background-color: #ffffff;
}

nav {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
}

.map {
  height: 75vh;
}
.graphs {
  overflow: auto;
  height: 75vh;
  width: 50vw;
  background-color: #d7d7d8;
  border-radius: 0.3rem;
}
.headerGraphs {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.chart {
  background-color: whitesmoke;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.graphsIED {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 45%;
  gap: 2rem;
}

.alerts {
  background-color: #d7d7d8;
  border-radius: 0.3rem;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

thead {
  background-color: d7d7d8;
}

th,
td {
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
